/* .App {
  font-family: arial;
  text-align: center;
} */

body {
  font-family: arial;
}

.app {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.app > *:not(:last-child) {
  margin-bottom: 20px;
}
