.grid {
    display: grid;
    padding-top: 16px;
    grid-template-columns: 5fr 1fr;
    column-gap: 16px;
  }
  
  .input {
    padding: 8px;
    font-size: 16px;
  }
  
  .button {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
  }